.container {
  display: flex;
  justify-content: center;
  background-color: #F7ECDE;
  font-family: 'Caveat', cursive;
}
h1 {
  font-size: 50px;
  margin: 20px;
}
p {
  font-size: 20px;
  line-height: 1.5;
  margin: 30px 30px;
}
button:hover {
  background-color: #00e69c; 
}
button {
  font-family: 'Caveat', cursive;
  display: inline-block;
  cursor: pointer;
  border: 1px solid transparent;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  background-color: #54BAB9;
  color: #F7ECDE;
  align-self: center;
  padding: 10px;
  margin: 20px 10px;
}

